<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true" throwExceptions="false" internalLogLevel="Off"
      internalLogFile="c:\temp\nlog-internal.log">
	

	<!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->

	<!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
	<extensions>
		<add assembly="NLog.Targets.ElasticSearch"/>
	</extensions>
	<targets>
		
		<!--
    add your targets here
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->

		<default-wrapper xsi:type="AsyncWrapper" overflowAction="Discard" queueLimit="5000" batchSize="200" timeToSleepBetweenBatches="1"/>

		<target name="Logger" xsi:type="File" layout="${longdate}|${uppercase:${level}}|${callsite}|${message}|${exception:format=ToString,StackTrace}"
		  fileName="C:/Temp/app/logs/app.log" archiveEvery="Day" archiveNumbering="Date"/>

	</targets>

	<rules>
		<!-- add your logging rules here -->
		<logger minlevel="Debug" writeTo="Logger" enabled="true"/>
	</rules>
</nlog>
